.Main{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: var(--verde);
    margin-left: 100px;
}
.Main h1{
    margin-bottom: 10px;
}

.descricao{
    padding: 15px;
}

.descricao h1{
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 50px;
}

.descricao li{
    margin-top: 10px;
}

.lista{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.lista li{
    margin-bottom: 10px;
}

.bold{
    font-weight: bold;
}