.Form{
    background-color: var(--verdeAqua);
    display: flex;
    flex-direction: column;
    padding: 15px;
    width:325px;

}

.formText{
    text-align: center;
    padding: 10px;
}

.formulario{
    display: flex;
    flex-direction: column;
}

.formulario input{
    background-color: var(--branco);
    margin-bottom: 10px;
    color: black;
    border: none;
    height: 25px;
    border-radius: 5px;
}

.botao{
    background-color: var(--laranja);
    border: none;
    border-radius: 5px;
    height: 50px;
}